/* primary colors */
.bg-navy1 {
  background-color: #355263;
}

.bg-red1 {
  background-color: #c7414a;
}

.bg-orange1 {
  background-color: #c87c22;
}

.bg-green1 {
  background-color: #007961;
}

.bg-blue1 {
  background-color: #006b9d;
}

.bg-purple1 {
  background-color: #65578d;
}

/* secondary colors */

.bg-navy2 {
  background-color: #617e91;
}

.bg-red2 {
  background-color: #ff7376;
}

.bg-orange2 {
  background-color: #ffab52;
}

.bg-green2 {
  background-color: #00a98e;
}

.bg-blue2 {
  background-color: #0099ce;
}

.bg-purple2 {
  background-color: #9484bd;
}

/* tertiary colors */

.bg-navy3 {
  background-color: #90adc1;
}

.bg-red3 {
  background-color: #ffa5a5;
}

.bg-orange3 {
  background-color: #ffdd81;
}

.bg-green3 {
  background-color: #56dbbe;
}

.bg-blue3 {
  background-color: #5ecaff;
}

.bg-purple3 {
  background-color: #c5b4f0;
}
